.text {
  font-family: 'Bebas Neue', cursive;
}
.text {
  display: inline-block;
  padding: 5px 10px;
  position: relative;
}
.text:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #2d7d90;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.text:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  .text {
    margin-top: 40px;
  }
}

/* mobile menu design */
.mobilemenutext {
  font-family: 'Bebas Neue', cursive;
}
.mobilemenutext {
  display: inline-block;
  position: relative;
}
.logintext {
  font-family: 'Oswald', sans-serif;
}

.avatartext {
  font-family: 'Caveat', cursive;
}
